<div id="createPostForm" class="post-card">
  <div class="card-title">
    <div class="left"></div>
    <div class="middle">
      <h2>Create New Post</h2>
    </div>
    <div class="right">
      <a id="cancelBttn" class="bttn"><span class="material-icons">cancel</span></a>
    </div>
  </div>
  <div class="card-body">
    <form id="new-post-form">
      <div class="form-group">
        <label class="form-label" for="post-title">Title</label>
        <input type="text" name="post-title" class="form-input" />
      </div>
      <div class="form-group">
        <label class="form-label" for="post-body">Content</label>
        <textarea name="post-body" class="form-input"></textarea>
      </div>
      <br>
      <div class="text-center">
        <button type="submit" class="bttn bttn-primary">Create</button>
      </div>
    </form>
  </div>
</div>