<div class="item-cards-container">
  <div class="">
    <h1 class="title is-1">Sign Up</h1>
    <br>
    <form id="signup-form" class="signup-form">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input id="email-signup" class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input id="username-signup" class="input" type="text" placeholder="Username">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input id="password-signup" class="input" type="password" placeholder="********">
        </div>
      </div>
      <br>


      <button class="button is-primary" type="submit">Sign-Up</button>
    </form>

  </div>
</div>
<script src="/js/signup.js"> </script>